#loading {
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #5cba46;
}

#loading-logo {
  height: 100%;
  width: 100%;
  background: url(loading.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-name: bounceIn;
  animation-name: bounceIn;
}

@-webkit-keyframes bounceIn {
  0% {
    opacity: 0;
    -webkit-transform: scale(.3);
    transform: scale(.3);
  }

  50% {
    opacity: 1;
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
  }

  70% {
    -webkit-transform: scale(.9);
    transform: scale(.9);
  }

  100% {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes bounceIn {
  0% {
    opacity: 0;
    -webkit-transform: scale(.3);
    -ms-transform: scale(.3);
    transform: scale(.3);
  }

  50% {
    opacity: 1;
    -webkit-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05);
  }

  70% {
    -webkit-transform: scale(.9);
    -ms-transform: scale(.9);
    transform: scale(.9);
  }

  100% {
    opacity: 1;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
}

::-webkit-scrollbar { 
  display: none; 
}

body {
  margin: 0;
  padding: 0;
}

*:focus {
  outline: none;
}

p {
  padding: 0px;
  margin: 0px;
  color: #5cba46;
  font-family: 'bariol_bold', sans-serif;
  font-size: 24px;
  text-align: center;
}

#navbar {
  position: fixed;
  background: #fff;
  z-index: 1;
  height: 60px;
  width: 100%;
  border-bottom: 1px solid #AAAAAA;
}

#nav1 {
  position: fixed;
  top: 0;
  left: 0;
  height: 60px;
  width: 60px;
}

.menu {
  background: url(menu.svg);
  background-size: cover;
}

.menu-alt {
  background: url(menu-alt.svg);
  background-size: cover;
}

#nav2 {
  display: block;
  margin: auto;
  height: 60px;
  width: 180px;
}

.updog {
  background: url(updog.svg);
  background-size: cover;
}

.updog-alt {
  background: url(updog-alt.svg);
  background-size: cover;
}

#nav3 {
  position: fixed;
  top: 0;
  right: 0;
  height: 60px;
  width: 60px;
}

.pen {
  background: url(pen.svg);
  background-size: cover;
}

.pen-alt {
  background: url(pen-alt.svg);
  background-size: cover;
}

.card-container {
  position: absolute;
  height: 100%;
  width: 100%;
}

.card {
  position: relative;
  left: -1px;
  margin: 82px auto 0 auto;
  width: 275px;
  height: 460px;
  box-shadow: #aaa 5px 5px;
  border-radius: 16px;
  border: 1px solid #aaa;
}

#card-alt {
  top: -100%;
}

.content {
  position: absolute;
  display: none;
  width: 100%;
  height: 100%;
  background: #fff;
  overflow: hidden;
}

#content1 {
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}

#content2 {
  display: initial;
}

.upvote {
  float: left;
  width: 275px;
  height: 92px;
  background: url(up.svg);
  background-size: cover;
  border-radius: 16px 16px 0 0;
}

.media {
  float: left;
  width: 275px;
  height: 275px;
  background: url(http://www.noodlytime.com/img/a0126590_22304286.jpg);
  background-size: cover;
  background-position: center;
}

#media-alt {
  background: url(http://www.noodlytime.com/img/a0126590_22305352.jpg);
  background-size: cover;
  background-position: center;
}

.downvote {
  float: left;
  width: 275px;
  height: 93px;
  background: url(down.svg);
  background-size: cover;
  border-radius: 0 0 16px 16px;
}

#ziggeo-feed {
  margin: auto;
  margin-top: 61px;
  width: 100%;
  height: 100%;
  background: url(http://img2.wikia.nocookie.net/__cb20100608024535/kailiaukisland/images/8/8a/Jungle1.jpeg);
  background-size: cover;
  display: none;
}

#camera-feed {
  width: 100%;
  height: 100%;
  background: url(http://upload.wikimedia.org/wikipedia/commons/f/f6/Swiss_National_Park_131.JPG);
  background-size: cover;
}

#camera-footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 100px;
  background: url(footer.svg);
  background-size: cover;
  background-position: center;
}

#video {
  position: absolute;
  bottom: 0;
  left: 30px;
  width: 60px;
  height: 60px;
  background: url(video.svg);
  background-size: cover;
}

#camera {
  display: block;
  margin: auto;
  margin-top: 10px;
  width: 80px;
  height: 80px;
  border-radius: 40px;
  background: url(camera.svg);
  background-size: cover;
}

#play {
  display: none;
  margin: auto;
  margin-top: 10px;
  width: 80px;
  height: 80px;
  border-radius: 40px;
  background: url(play.svg);
  background-size: cover;
}

#stop {
  display: none;
  margin: auto;
  margin-top: 10px;
  width: 80px;
  height: 80px;
  border-radius: 40px;
  background: url(stop.svg);
  background-size: cover;
}

#upload {
  position: absolute;
  bottom: 0;
  right: 30px;
  margin-top: 40px;
  width: 60px;
  height: 60px;
  background: url(upload-alt.svg);
  background-size: cover;
}

.title {
  position: absolute;
  box-sizing: border-box;
  top: 275px;
  left: 0px;
  background: rgba(0,0,0,0.5);
  height: 60px;
  width: 100%;
  border: 0;
  margin: 0;
  padding: 15px;
  color: white;
  font-family: 'bariol_bold', sans-serif;
  font-size: 24px;
  text-align: center;
}

#title-input {
  float: left;
  box-sizing: border-box;
  border-radius: 16px 16px 0 0;
  border: 0;
  border-bottom: 1px solid #aaaaaa;
  /*background: rgba(0,0,0,0.5);*/
  height: 60px;
  width: 100%;
  margin: 0;
  padding: 15px;
  color: #333;
  font-family: 'bariol_bold', sans-serif;
  font-size: 24px;
  text-align: center;
}

#header {
  margin-top: 70px;
  font-size: 36px;
}

#first-post {
  margin-top: 16px;
}

.post {
  position: relative;
  left: -1px;
  margin: 24px auto 24px auto;
  width: 275px;
  height: 150px;
  box-shadow: #aaa 5px 5px;
  border-radius: 16px;
  border: 1px solid #aaa;
}

.post-content {
  float: left;
  width: 150px;
  height: 150px;
  border-radius: 16px 0 0 16px;
  background: url(http://www.noodlytime.com/img/a0126590_22304286.jpg);
  background-size: cover;
  background-position: center;
}

.post-results {
  float: left;
  width: 125px;
  height: 150px;
  border-radius: 0 16px 16px 0;
}

.like {
  margin-top: 20px;
  width: 125px;
  height: 75px;
  background: url(up.svg);
  background-size: cover;
  background-position: center;
}

.dislike {
  margin-top: 20px;
  width: 125px;
  height: 75px;
  background: url(down.svg);
  background-size: cover;
  background-position: center;
}

.red {
  color: #e94342;
}

.sound {
  position: absolute;
  top: 92px;
  width: 60px;
  height: 60px;
  background: url(microphone.svg);
  background-size: cover;
  opacity: 0.5;
  display: none;
}

#sound-input {
  top: 60px;
}

#submit-bg {
  display: none;
  opacity: 0;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(0,0,0,0.5);
}

#submit-container {
  margin: auto;
  margin-top: 225px;
  border-radius: 16px;
  height: 120px;
  width: 300px;
  border: 1px solid #aaaaaa;
  background: #fff;
}

#submit {
  display: block;
  background: #fff;
  border: none;
  float: left;
  border-bottom-left-radius: 16px;
  height: 60px;
  width: 138px;
  color: #5cba46;
  font-family: 'bariol_bold', sans-serif;
  font-size: 24px;
  text-align: center;
  box-sizing: border-box;
  border-right: 1px solid #aaaaaa;
}

#cancel {
  display: block;
  background: #fff;
  border: none;
  float: left;
  border-bottom-right-radius: 16px;
  height: 55px;
  width: 138px;
  color: #e94342;
  font-family: 'bariol_bold', sans-serif;
  font-size: 24px;
  text-align: center;
}
